.home-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-size: 15px;
    &_hd {
        position: relative;
        z-index: 11;
        padding-top: 15px;
        .title{
            font-size: 24px;
            margin: 20px 0 10px;
            font-weight: 400;
        }
        .info{
            font-size: 14px;
        }
        .buy-btn{
            margin: auto;
            margin-top: 22px;
            height: 36px;
            line-height: 36px;
            width: 122px;
            color: #fff;
            background-color: #eb2326;
            border-radius: 2px;
        }
    }
    &_bd {
        position: relative;
        max-height: 313px;
        // margin-top: -30px;
        .swiper-container {
            width: 100%;
            height: 100%;
        }
        .swiper-wrapper {
            width: 100%;
            height: 100%;
        }
        .swiper-pagination-bullet{
            background-color: #fff;
            border: 1px solid #c7c7c7;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
        .swiper-pagination-bullet-active{
            background-color: #bfbfbf;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    &_ft{
        img {
            width: 100%;
            height: 135px;
            margin-top: 5px;
        }
    }
}