.news {
    margin-top: 60px;
    position: relative;
    background-color: #FAFAFA;
    .banner {
        height: 250px;
        width: 100%;
        margin-bottom: 30px;
        .bg-img {
            height: 250px;
            width: 1200px;
            margin: 0 auto;
            background: url("/static/images/pc/news-BG.svg");
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 171px;
                height: 136px;
            }
            h1 {
                font-size: 30px;
                color: #868686;
                margin-left: 40px;
            }
        }
    }
    .content {
        width: 100%;
        margin-bottom: 20px;
    }
    .content_in {
        width: 1200px;
        margin: 0 auto;
    }
    .article li {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h3 {
            margin-bottom: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
        h3,
        h4 {
            margin-bottom: 10px;
            font-weight: 600;
            span:nth-child(2) {
                margin-left: 20px;
            }
            .normal {
                font-weight: normal;
            }
        }
        p {
            .color-cece {
                margin-left: 49px;
                cursor: pointer;
                color: #cecece;
                text-decoration: underline;
            }
        }
        div {
            cursor: pointer;
            background: #fff;
        }
        .lef {
            width: 580px;
            height: 410px;
            margin-bottom: 30px;
            &:hover {
                box-shadow: 0 20px 30px #ececec;
            }
            img {
                height: 260px;
                width: 580px;
                margin-bottom: 20px;
            }
            h3 {
                margin-top: 21px;
            }
            h3,
            h4 {
                padding-left: 60px;
            }
            P {
                span:nth-child(1) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 344px;
                    display: block;
                    float: left;
                }
            }
        }
        .margin-20 {
            margin-bottom: 20px;
        }
        .line-height-2 {
            line-height: 2;
        }
        .padding-60 {
            padding-left: 60px;
            display: flex;
            align-items: center;
        }
        .box-text {
            width: 100%;
            min-height: 260px; // 
            padding: 60px 50px;
            margin-bottom: 30px;
            h3 {
                margin-bottom: 20px;
            }
            &:hover {
                box-shadow: 0 20px 30px rgba(80, 80, 80, 0.1);
            }
        }
    }
    .emptyBox {
        height: 40px;
    }
    .pagination {
        margin: 0 auto;
        display: block;
        width: 1200px;
        height: 30px;
        display: flex;
        justify-content: center;
        li a {
            text-decoration: none;
            color: #333;
            cursor: pointer;
        }
        .next_page {
            a {
                background: url("/static/images/pc/sanjiao.png") no-repeat 65px center;
                padding-right: 20px;
            }
        }
        .active {
            background: #b2b2b2;
            color: #fff;
        }
    }
    .flex-space {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .text-size-18 {
        font-size: 18px;
    }
    .text-size-14 {
        font-size: 14px;
    }
    .text-size-13 {
        font-size: 13px;
    }
    .text-color-999 {
        color: #999999;
    }
    .text-color-666 {
        color: #666666;
    }
}

@media all and (max-width:1200px) {
    .news {
        .article li {
            .lef {
                width: 340px;
                height: 387px;
                h3 {
                    margin-top: 20px;
                    padding-left: 25px;
                }
                h4 {
                    padding-left: 25px;
                }
                img {
                    height: 250px;
                    width: 340px;
                    margin-bottom: 20px;
                }
                P {
                    span:nth-child(1) {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 186px;
                        display: block;
                        float: left;
                    }
                }
                .size-10 {
                    font-size: 10px !important;
                }
                .size-14 {
                    font-size: 14px;
                }
                .size-12 {
                    font-size: 12px !important;
                }
            }
            .box-text {
                padding: 42px 40px;
                .small-screen-14 {
                    font-size: 14px;
                }
            }
            .padding-60 {
                padding-left: 25px;
            }
        }
    }
}