.joinmy-container{
    height: 100%;
    .title{
        margin: 25px 0;
    }
    .info{
        color: #b7b7b7;
        font-size: 14px;
        margin-bottom: 30px;
    }
    &_ft{
        .job-desc{
           font-size: 15px;
           margin: 15px 0;
        }
        .job-info{
            font-size: 20px;
            margin: 5px 0;
        }
    }
}